.login{
    border: 2px solid black;
    border: 2px solid black;
    margin-top: 106px;
    height: 278px;
    width: 607px;
    background-color: purple;
    border-radius: 10px;
}

.UN{
    margin-top: 54px;
    height: 15px;
    font-weight: bolder;
}
.PASS{
margin-top: 29px;
height: 15px;
font-weight: bolder;
}

.LO{
margin-top: 29px;
margin-left: 42px;
}
.LO input{
    background-color: orange;
    font-weight: bold;
    height: 25px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
}
.LO input:hover{
    color: chocolate;
}
.LO input:active{
    background-color: aquamarine;
}
p{
    color: red;
}